*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

main{
background-color: white;
}

footer{
background-color: white;
}

.chatbot{
  width:80vw;
  height: 68vh;
  background: #fff;
  margin: 2vh 10vw 0;
  box-shadow: 0 3px #ccc;
  margin-right: 165px;
  border-radius: 10px;
}

.chatlogs{
  padding: 12px;
  width:100%;
  height: 55vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.chatlogs::-webkit-scrollbar{
  width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.chat{
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}
.chat .user-photo {
    width: 25px;
    height: 60px;
    border-radius: 30%;
    overflow: hidden;
}
.chat .user-photo img{
  width: 100%;
}
.chat .chat-mensaje{
  width: 80%;
  margin: 5px 10px 0;
  background: #1ddced;
  padding: 1vh;
  border-radius: 10px;
  color: #fff;
  font-family: 'Alatsi', sans-serif;
  font-size: 15px;
}

.galyleo .chat-mensaje{
  background: #D33A15;
  padding: 1vh;
}

.usuario .chat-mensaje{
  background: #007CD2;
  order: -1;
  padding: 1vh;
  text-align: right;
}

.chat-form{
  margin-top: 2.5vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 1vw;

}

.chat-form textarea {
    background: #fbfbfb;
    width: 85%;
    height: 5vh;
    margin: 3vh 0vw 0 4vw;
    border: 2px solid #000;
    border-radius: 3px;
    resize: none;
    padding: 2px;
    font-size: 15px;
    color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-form textarea:focus{
  background: #fff;
}
.chat-form textarea::-webkit-scrollbar{
  width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.chat-form button{
padding: 5px 15px;
font-size: 45px;
color:#D33A15;
background: rgba(0, 0, 0, 0);
border: none;
margin: 0 10px;
border-radius: 3px;
cursor: pointer;

-webkit-transition: background .2s ease;
-moz-transition: background .2s ease;
-o-transition: background .2s ease;
}

.chat-form button:hover{
  background: #13c8d9;
}
body{
  background-color: black;
  /* background-image: url('../IMG/fondo.jpg'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;;
}
.fondo{
  height: 22vh;
  z-index: -100;
  display: flex;
  justify-content: space-around;
}
form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Alatsi', sans-serif;
}
/* input{
  border-radius: 15px;
} */

.astros img {
    width: 14vh;
    margin-top: 5vh;
    margin-right: 10vw;
}
.logo img {
    width: 75%;
    margin: 0 60px;
}

 @media (min-width:768px) {

.chat {
    width: 80vw;
}
.logo img {
    width: 33%;
    position: absolute;
    top: 0;
    left: 9vw;
}
.chat .user-photo {
    width: 75px;
    height: 75px;
}
}

  @media (min-width:1024px) {
    .chat .chat-mensaje {
        font-size: 25px;
    }
    .chat {
        width: 85vw;
    }
  }
  @media (min-width:1440px) {
    .chat {
        width: 90vw;
    }
    .chat .chat-mensaje {
    font-size: 38px;
}
  }
