*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#contacto{
  margin-top: 100px;
}

form{
  font-size: 20px;
  float: left;
  margin-top: 110px;
  width: 100%;
  text-align: center;
}

/*-- Campos a llenar -- */
label {
  float: left;
  width: 100%;
  margin-top: 10px;
  padding: 3px;
  font-family: 'Alatsi', sans-serif;
  margin-bottom: 10px;
}

input {
    border-radius: 10px;
    border: 1px solid gray;
    line-height: 20px;
    padding: 3px;
}

button#send{
  color: white;
  background-color:rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 28%;
  margin: 8px;
  right: 0;
  left: 0;
  padding: 8px;
  width: 120px;
  border-radius: 10px;
  font-family: 'Alatsi', sans-serif;
  max-width: 200px;
  text-transform: uppercase;
  margin-top: 15px;
}

textarea {
  width: 75%;
  height: 40vh;
  border-radius: 10px;
  border: 1px solid gray;
  line-height: 20px;
  padding: 3px;
  margin-bottom: 10px;
}

#derechos p{
  font-family: 'Alatsi', sans-serif;
}
/*media queries*/
@media (min-width:768px) {
  .container{
    max-width: 720px;
  }

  .cuerpo {
   width: 100%;
   margin-top: 0;
 }

}

  @media (min-width:1200px) {
    .container{
      max-width:1180px;
      margin: auto;
    }
  }
