*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.container{
  width: 100%;
  background-image: url('/img/fondo-login.jpg');
  background-image: cover;
  background-repeat: no-repeat;
}

.cuerpo{
  float: left;
  margin-top: 50px;
  width:100%;
  text-align: center;
}

form {
  text-align: center;
  display: inline-block;
  max-width: 700px;
}

.datos{
margin-top: 150px;
}

label {
  width: auto;
  margin-top: 12px;
  padding: 4px;
  font-family: 'Alatsi', sans-serif;
}

input {
    border-radius: 10px;
    border: 1px solid gray;
    line-height: 20px;
    padding: 3px;
}
label#recuerd{
  float: left;
  width: auto;
}
input#remember{
  display: inline-block;
  width: 5%;
}
button#ingresar{
  color: white;
  background-color:rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 120px;
  margin: 8px;
  right: 0;
  left: 0;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Alatsi', sans-serif;
  text-transform: uppercase;
}

.button{
  text-align: center;
}

textarea {
  border-radius: 10px;
  border: 1px solid rgb(165, 96, 143);
  line-height: 20px;
  padding: 3px;
}
main .datos a{
  display: block;
  margin-top: .4vh;
  color: rgba(0,0,0,0.9);
  text-decoration: underline;
}
div.cookie{
  overflow:hidden;
}
div .datos .errores{
  margin-top: 2vh;
}

/*media queries*/
@media (min-width:768px) {
  .cuerpo {
   width: 100%;
   margin-top: 0;
 }
}
