.datos{
  text-align: center;
  font-size: 25px;
}

.datos a:hover{
  color: blue;
}

.mapa{
  text-align: center;
}

.encabezado{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999!important;
  transition: top 0.5s;
}

.encabezado a {
  text-decoration: none;

}
.container{
  margin-top: 15%;
  min-height: 80vh;
  position: inherit;
}

footer{
  float: left;
  width: 100%;
}

.ancla{
	font-size: 20px;
	font-family: verdana;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  margin-bottom: 10px;
}

.redes{
  font-size: 40px;
}

.redes a:hover{
  color: gray;
}

#powered{
  text-align: center;
}

.cierre{
    display: flex;
    justify-content: space-between;
    margin: 5% 15% 2px 15%;
}


.cierre a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3vh;
  font-weight: bold;
}

#volver{
    margin-right: 5%;
    right: 5%;
    bottom: 2.5%;
    font-size: 5vh;
    text-decoration: none;
    color: rgba(7, 0, 0, 0.7);
    position: fixed;
}
@media (min-width: 768px){
  .redesSociales{
    margin-left: 35%;
    width: 30%;
  }
}
@media (min-width: 1024px){
  .redesSociales{
    margin-left: 40%;
    width: 20%;
  }
}
